APP_ENV=development
SERVER_PORT=8080
LOG_LEVEL=INFO

DATABASE_URL=jdbc:postgresql://localhost:5432/reforma
DATABASE_USER=reforma
DATABASE_PASSWORD=change_me_local

JWT_SECRET=cambiar_en_prod_min_64_chars
JWT_EXPIRATION=24h
JWT_ALGORITHM=HS256

JWT_ML_SECRET=mismo_secret_que_api_ml_min_64_chars
ML_BASE_URL=http://localhost:8081
ML_REQUEST_TIMEOUT_MS=8000

FRONTEND_URL=http://localhost:4200
PUBLIC_API_URL=http://localhost:8080

ENABLE_DEMO_CLEANUP=false
ENABLE_ML=true
